.buy {background-color:#343f52 !important;}
.product__price .tobasket{background-color:#343f52;}
.submit-filters,.submit-popup,.submit-button {background:#343f52;}
.catalog-node .inner.discount,.catalog-list .inner.discount {border:2px solid #343f52;}